@font-face {
    font-family: "gothamhtf";
    src: url("../fonts/gothamhtf-bold-webfont.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "gothamhtf";
    src: url("../fonts/gothamhtf-book-webfont.otf") format("opentype");
    font-weight: normal;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'gothamhtf';
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
    vertical-align: middle;
}

section {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.post-title {
    position: absolute;
    left: 0;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 2;
}

.col-md-6 {
    width: 50%;
    float: left;
    position: relative;
}

.cate-left {
    left: 52px;
    top: 145px;
    position: absolute;
}

.title-large a {
    letter-spacing: 1px;
    line-height: 60px;
    color: #000000;
    font-weight: 600;
    font-size: 70px;
}

.title-medium {
    font-size: 50px;
}

.title-large a:hover,
.title-medium a:hover {
    letter-spacing: 5px;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}

.title-medium a {
    line-height: 32px;
    color: white;
}

.sub-title a {
    color: white;
    font-size: 26px;
    font-weight: 600;
    margin-top: 5px;
}

.list-cate a {
    letter-spacing: 3px;
    color: #000000;
    line-height: 48px;
    font-size: 14px;
}

.list-ins li {
    float: left;
    position: relative;
}

.list-ins a::before,
.box-banner::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 45%);
    pointer-events: none;
    opacity: 0;
    z-index: 1;
}

.list-ins a:hover::before,
.box-banner:hover::before {
    opacity: 1;
}

.introduce-ins {
    color: #000000;
    letter-spacing: 1px;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    padding: 23px 30px;
}

.list-ins li {
    width: 20%;
}

footer {
    padding-bottom: 68px;
}

.list-customer li {
    margin-top: 4px;
}

.list-customer a {
    font-size: 13px;
    color: #000000;
}

.footer-left {
    flex-grow: 1;
}

.box-form-signup {
    display: flex;
    margin-bottom: 28px;
}

.title-small {
    font-size: 17px;
}

.box-signup .title-small {
    margin-bottom: 7px;
}

.box-signup input {
    width: 100%;
    max-width: 490px;
    border: 1px solid #000000;
    height: 46px;
    box-sizing: border-box;
    margin-right: 5px;
    padding: 12px;
}

.box-signup button {
    font-size: 17px;
    font-weight: 600;
    height: 46px;
    padding: 10px;
    color: white;
    border: none;
    background-color: #000000;
    cursor: pointer;
}

.list-social {
    padding-left: 10px;
}

.list-social li {
    display: inline-block;
}

.list-social li:not(:last-child) {
    margin-right: 30px;
}

.list-social i {
    font-size: 28px;
    color: #000000;
}

.footer-content {
    padding: 45px 95px 0;
    display: flex;
}

.footer-right {
    max-width: 255px;
    width: 100%;
    padding-left: 25px;
}

.footer-bottom {
    text-align: center;
    padding: 0 30px;
    margin-top: 85px;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0.6px;
}

.footer-bottom a {
    margin: 0 13px;
    color: #000000;
}

.list-social li:hover i,
.list-customer a:hover,
.footer-bottom a:hover,
.list-cate a:hover {
    color: rgba(0, 0, 0, 0.5);
}

.box-signup button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.list-social i,
.box-signup button,
.list-customer a,
.footer-bottom a,
.list-cate a,
.title-large a,
.list-ins a::before,
.title-medium a,
.box-banner::before {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

@media(max-width:1200px) {
    .cate-left {
        top: 50%;
        left: 52px;
        transform: translateY(-50%);
    }
}

@media(max-width:991px) {
    .introduce-ins {
        font-size: 15px;
    }
    footer {
        padding-bottom: 40px;
    }
    .cate-left {
        left: 30px;
    }
    .title-medium {
        font-size: 32px;
    }
    .title-large a {
        font-size: 62px;
    }
    .sub-title a {
        font-size: 16px;
        margin-top: 0;
    }
    .list-cate a {
        line-height: 36px;
    }
    .footer-bottom {
        margin-top: 50px;
    }
    .box-form-signup {
        margin-bottom: 24px;
    }
    .list-social li:not(:last-child) {
        margin-right: 20px;
    }
    .list-social i {
        font-size: 24px;
    }
    .footer-content {
        padding: 45px 30px 0;
    }
    .footer-right {
        max-width: 190px;
    }
}

@media(max-width:640px) {
    .introduce-ins {
        font-size: 13px;
        padding: 15px 15px;
    }
    .cate-left {
        left: 15px;
    }
    .title-medium a {
        font-size: 22px;
        line-height: 20px;
    }
    .title-large a {
        font-size: 30px;
        line-height: 30px;
    }
    .sub-title a {
        font-size: 14px;
    }
    .list-cate a {
        line-height: 20px;
        letter-spacing: 1px;
    }
    .footer-content {
        display: block;
        padding: 45px 15px 0;
    }
    .footer-bottom {
        padding-left: 15px;
        padding-right: 15px;
    }
    .list-social {
        padding-left: 0;
    }
    .footer-right {
        max-width: 100%;
        padding-left: 0;
        margin-top: 32px;
    }
    .footer-right,
    .footer-left {
        width: 100%;
    }
}

@media(max-width:380px) {
    .cate-left {
        left: 15px;
    }
    .title-medium a {
        font-size: 16px;
    }
    .title-large a {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0px;
    }
    .sub-title a {
        font-size: 10px;
    }
    .list-cate a {
        font-size: 10px;
        line-height: 12px;
    }
    .box-signup input,
    .box-signup button {
        height: 40px;
        font-size: 14px;
    }
    .footer-content {
        padding: 45px 15px 0;
    }
    .list-social i {
        font-size: 18px;
    }
    .box-ib {
        margin-bottom: 18px;
    }
    .title-small {
        font-size: 14px;
    }
    .footer-bottom {
        margin-top: 30px;
    }
}