@font-face {
    font-family: "gothamhtf";
    src: url("../src/assets/fonts/gothamhtf-bold-webfont.ttf") format("truetype");
    src: url("../src/assets/fonts/gothamhtf-bold-webfont.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "gothamhtf";
    src: url("../src/assets/fonts/gothamhtf-book-webfont.ttf") format("truetype");
    src: url("../src/assets/fonts/gothamhtf-book-webfont.otf") format("opentype");
    font-weight: normal;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'gothamhtf';
}
a{
    text-decoration: none;
}
li {
    list-style-type: none;
}
h2{
    font-size: 70px;
}
h3 {
    font-size:50px;
}
h4 {
    font-size: 17px;
}